<div class="container-fluid">
       <div class="row"> 
          <div class="col-xs-12 col-sm-2">  
            <div class="top-header">
               <h2>CoC</h2>
            </div>
          </div>
          <div class="col-xs-12 col-sm-10">  
            <div class="top-right">
                <a href="#" id="toggle-nav"><i class="fa fa-bars" aria-hidden="true"></i></a> 
                <a href="#" id="right-arrow"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                <ul class="top-nav">
                    <li class="active"><a href="#">User Name</a></li>
                    <li><a href="#">LogOut</a></li>
                    <li><a href="#"><i class="fa fa-cogs" aria-hidden="true"></i></a></li>
                </ul>  
            </div>
          </div> 
       </div>
   </div>
    <div class="container-fluid">
       <div class="row"> 
        <div class="col-xs-12 col-sm-2">
           <ul class="main-nav">
               <a href="#"><li><i class="fa fa-building icon-nav"></i><span class="nav-link">Dashboard</span></li></a>
               <a href="#"><li><i class="fa fa-cogs icon-nav" aria-hidden="true"></i><span class="nav-link">Assignments</span></li></a>
               <a href="#"><li><i class="fa fa-cogs icon-nav" aria-hidden="true"></i><span class="nav-link">Members</span></li></a>
               <a href="#"><li><i class="fa fa-cogs icon-nav" aria-hidden="true"></i><span class="nav-link">Collections</span></li></a>
               <a href="#"><li><i class="fa fa-cogs icon-nav" aria-hidden="true"></i><span class="nav-link">Settings</span></li></a>
               <a href="#"><li><i class="fa fa-cogs icon-nav" aria-hidden="true"></i><span class="nav-link">Packages</span></li></a>
           </ul>
        </div> 
       </div> 
    </div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <a href="#">
                <div class="card">
                    <h4>New Orders</h4>
                    <p>3</p>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#">
                <div class="card">
                    <h4>WIP Orders</h4>
                    <p>6</p>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#">
                <div class="card">
                    <h4>Completed Orders</h4>
                    <p>7</p>
                </div>
            </a>
        </div>
    </div><br>
   
    
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>UserName</th>
                <th>OrderId</th>
                <th>Due Date</th>
                <th>Subject</th>
                <th>Length</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>CoC_A_PHYS</td>
                <td>24th October, 2017</td>
                <td>Physics</td>
                <td>400</td>
                <td><button>Send Quote</button></td>
            </tr>
            <tr>
                <td>John</td>
                <td>CoC_A_PHYS</td>
                <td>24th October, 2017</td>
                <td>Physics</td>
                <td>400</td>
                <td><button>Send Quote</button></td>
            </tr>
            <tr>
                <td>John</td>
                <td>CoC_A_PHYS</td>
                <td>24th October, 2017</td>
                <td>Physics</td>
                <td>400</td>
                <td><button>Send Quote</button></td>
            </tr>
        </tbody>
    </table>
</div>